<div>
    <nav class="navbar navbar-fixed-top navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand">GIPHY Collection</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="basket">Basket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="retrieve">Retrieve</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>  